{{- if or (and .Values.inference.enabled (eq .Values.inference.model.source "huggingface")) (and .Values.embedding.enabled (eq .Values.embedding.source "huggingface")) }}
{{- if and .Values.hfcli.token (ne .Values.hfcli.token "hf_<your-token>") }}
---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "-90"
  name: hf-token
  namespace: {{ include "inference.namespace" . }}
  # also in namespace: {{ include "agentic-claims-demo.namespace" . }}
  # for guardrails. if !=
stringData:
  token: {{ .Values.hfcli.token }}
type: Opaque
{{- end }}
{{- end }}
