{{- if .Values.postgresql.enabled }}
---
apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    # ArgoCD GitOps
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
    argocd.argoproj.io/sync-wave: "5"
    # Helm hooks
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "5"
    "helm.sh/hook-delete-policy": hook-succeeded
  name: init-postgres
  labels:
    {{- include "agentic-claims-demo.labels" . | nindent 4 }}
  namespace: {{ include "agentic-claims-demo.namespace" . }}
spec:
  backoffLimit: 6
  completionMode: NonIndexed
  completions: 1
  parallelism: 1
  suspend: false
  template:
    spec:
      affinity:
{{- include "multiarch_node_affinity" . | nindent 8 }}
      automountServiceAccountToken: false
      containers:
        - name: provisioner
          command:
            - /scripts/init-pg.sh
          env:
            - name: HOME
              value: /tmp
          {{- if contains "/" .Values.postgresql.image.repository }}
          image: {{ .Values.postgresql.image.repository }}:{{ .Values.postgresql.image.tag }}
          {{- else }}
          image: {{ .Values.global.imageRegistry }}/{{ .Values.postgresql.image.repository }}:{{ .Values.postgresql.image.tag }}
          {{- end }}
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          resources:
            limits:
              cpu: 500m
              ephemeral-storage: 1Gi
              memory: 768Mi
            requests:
              cpu: 500m
              ephemeral-storage: 256Mi
              memory: 768Mi
          securityContext:
            # readOnlyRootFilesystem: false
            # not sure that'ld work ... might ... bluffing
            readOnlyRootFilesystem: true
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /cluster-secrets
              name: secrets
            - mountPath: /scripts
              name: helpers
            - mountPath: /tmp
              name: temp
      dnsPolicy: ClusterFirst
      restartPolicy: OnFailure
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: default
      serviceAccountName: default
      terminationGracePeriodSeconds: 30
      volumes:
        - emptyDir: {}
          name: temp
        - configMap:
            name: init-postgres
            defaultMode: 0777
          name: helpers
        - name: secrets
          secret:
            defaultMode: 420
            secretName: {{ .Values.postgresql.auth.existingSecret }}
  ttlSecondsAfterFinished: 3600
{{- end }}
