{{- if and .Values.backend.enabled .Values.backend.route.enabled }}
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "4" # after llamastackdistribution
  name: backend
  namespace: {{ include "agentic-claims-demo.namespace" . }}
  labels:
    {{- include "agentic-claims-demo.labels" . | nindent 4 }}
    app: backend
spec:
  {{- if .Values.backend.route.host }}
  host: {{ .Values.backend.route.host }}
  {{- else }}
  host: {{ include "backend_route_prefix" . }}.{{ .Values.global.clusterDomain }}
  {{- end }}
  to:
    kind: Service
    name: backend
    weight: 100
  port:
    targetPort: http
  {{- if .Values.backend.route.tls.enabled }}
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  {{- end }}
  wildcardPolicy: None
{{- end }}
