---
apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  name: job-hibernate
  namespace: {{ include "agentic-claims-demo.namespace" . }}
data:
{{ (.Files.Glob "files/cm.job-hibernate/*").AsConfig | indent 2 }}
