---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  name: hibernate
  namespace: {{ include "agentic-claims-demo.namespace" . }}
rules:
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - deployments/scale
      - statefulsets/scale
    verbs:
      - patch
      - update
  - apiGroups:
      - serving.kserve.io
    resources:
      - inferenceservices
    verbs:
      - get
      - update
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  name: hibernate
  namespace: {{ include "agentic-claims-demo.namespace" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: hibernate
subjects:
  - kind: ServiceAccount
    name: hibernate
    namespace: {{ include "agentic-claims-demo.namespace" . }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: hibernate
  namespace: {{ include "agentic-claims-demo.namespace" . }}
automountServiceAccountToken: false
