{{- if .Values.backend.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "4" # after llamastackdistribution
  name: backend
  namespace: {{ include "multi-agents.namespace" . }}
  labels:
    {{- include "multi-agents.labels" . | nindent 4 }}
    app: backend
spec:
  type: {{ .Values.backend.service.type }}
  ports:
    - port: {{ .Values.backend.service.port }}
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: backend
{{- end }}
